img.normal {
    float: left; height: 300px; width: 25%;
    margin-right: 5px;
}

img.alta {
    float: left; height: 420px; width: 300px;
}

h1 {
    border-bottom-style: inset;
    margin-left: 30%;
}

pre {
    font-size: 1.2em;
    margin-left: 30%;
}

.fonteAzul {
    color: blue;
}

.oculta {
    display: none;
}

.exibe {
    display: inline;
}

.italico {
    font-style: italic;
}

.teclado {
    width: 60px;
    height: 60px
    font-weight: bold;
    font-size: larger;
}

#iniciar {
    width: 190.5px;
    height: 60px;
    font-weight: bold;
    font-size: larger;
}

#inEscolha {
    width: 117px;
    height: 40px;
}
